#!/bin/bash

#   Copyright 2015 Cisco Systems, Inc
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

python /opt/vdsn/vdsn/main.py \
    --servers {{ hostvars[groups['controllers'][0]]['ansible_eth1']['ipv4']['address'] }}:11212,{{ hostvars[groups['controllers'][1]]['ansible_eth1']['ipv4']['address'] }}:11212,{{ hostvars[groups['controllers'][2]]['ansible_eth1']['ipv4']['address'] }}:11212 \
    --vxlan_listen_addr "{{ vxlan_listen_ip }}":"{{ vxlan_listen_port }}" \
    --select_timeout "{{ vdsn_select_timeout }}" \
    --refresh_interval "{{ vdsn_refresh_interval }}" \
    --thread_count "{{ vdsn_thread_count }}"
